<div
  class="container-fluid d-flex flex-column position-absolute flex-grow-1 dialog-container no-scrollbar">
  <div id="endDialog" class="dialog-card d-flex flex-column">
    <mat-card-title class="register-title">
      Récupération de mot de passe
    </mat-card-title>

    <mat-card-content
      *ngIf="hasRetrievedPassword"
      class="dialog-content d-flex flex-column"
      style="overflow: auto">
      <div class="modal-body">
        <p>Un email vous a été envoyé pour confirmer votre opération.</p>
        <p>
          Vérifiez votre dossier spam au cas où vous ne trouveriez pas l'e-mail
          de confirmation dans votre boîte de réception principale.
        </p>
        <p>Vous pourrez réitérer l'opération dans 2 minutes.</p>
      </div>
      <button
        class="btn btn-primary btn-sm modal-btn align-self-end"
        (click)="goToPage('')"
        type="button">
        Retour à l'accueil
      </button>
    </mat-card-content>

    <mat-card-content
      *ngIf="!hasRetrievedPassword"
      class="dialog-content"
      style="overflow: auto">
      <div class="modal-body">
        <p>
          Entrez votre e-mail dans le champ ci-dessous. Un mail vous sera envoyé
          pour réinitialiser votre mot de passe.
        </p>
      </div>
      <form
        class="d-flex flex-column"
        [formGroup]="form"
        (ngSubmit)="lostpassword()">
        <mat-form-field class="register-form-field mb-4" appearance="outline">
          <input
            matInput
            placeholder="Email"
            [formControl]="getField('email')"
            (blur)="updateErrorMessage('email')"
            name="email"
            type="email"
            required />
          <mat-error *ngIf="getField('email').errors?.['required']"
            >L'e-mail est requis.</mat-error
          >
          <mat-error *ngIf="getField('email').errors?.['pattern']"
            >L'e-mail n'est pas dans le bon format.</mat-error
          >
        </mat-form-field>
        <div
          class="modal-actions d-flex flex-row flex-wrap justify-content-between">
          <button
            class="btn btn-secondary btn-sm modal-btn"
            (click)="goToPage('')"
            type="button">
            Retour
          </button>
          <button class="btn btn-primary btn-sm modal-btn" type="submit">
            Récupérer
          </button>
        </div>
      </form>
    </mat-card-content>
  </div>
</div>
