.dialog-content {
  & > p {
    margin: 0.25em 0;
    font-size: 1.1em;
  }
}

.register-title {
  margin-bottom: 0.5em;
}

mat-card-content {
  margin-top: 0.5em;
}

.modal-body {
  & > p {
    margin-bottom: 6px;
  }
}

form {
  margin-top: 1.5em;
}

mat-form-field {
  margin-bottom: 1.5em;
}