body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.body-background {
  background-color: #ecf0f1;
  padding: 20px;
}

.form-group {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.enigme-container {
  margin-bottom: 20px;
}

.infos-container {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}

.NomValue{
  margin-bottom: 10px;
  margin-right: 5px;
}

.Valeursetquestion{
  display: table-column;
}
