<app-navbar></app-navbar>
<div class="text-white p-5 overflow-auto bg-dark">
  <h1 class="text-center">CONDITIONS GÉNÉRALES DE VENTE</h1>
  <h2>1. Préambule</h2>
  Les présentes conditions générales de vente (CGV) sont conclues entre, d'une
  part, la SAS BARNSDEAL, au capital de 30 000 euros, dont le siège social est
  situé au 70 rue des armateurs, 85440 Talmont Saint Hilaire, France,
  immatriculée sous le numéro SIRET 939 636 502, code APE 8559B, numéro de TVA
  intracommunautaire FR84 939 636 502, ci-après dénommée "BARNSDEAL", et d'autre
  part, toute personne physique ou morale souhaitant procéder à un achat via le
  site Internet <a href="https://www.ppmoj.fr">www.ppmoj.fr</a>, ci-après
  dénommée "l’Acheteur".
  <h2>2. Objet</h2>
  Les présentes CGV définissent les relations contractuelles entre BARNSDEAL et
  l’Acheteur, ainsi que les conditions applicables à tout achat effectué via le
  site marchand PPMOJ.FR, que l’Acheteur soit professionnel ou consommateur.
  L'acquisition d'un bien ou d'un service sur le site implique une acceptation
  sans réserve des présentes CGV. Ces conditions prévaudront sur toutes autres
  conditions générales ou particulières non expressément agréées par BARNSDEAL.
  BARNSDEAL se réserve le droit de modifier ses CGV à tout moment. Les
  conditions applicables seront celles en vigueur à la date de la commande par
  l’Acheteur.
  <h2>3. Mentions légales</h2>
  <ul>
    <li><b>Société</b> : SAS BARNSDEAL</li>
    <li>
      <b>Siège social</b> : 70 rue des armateurs, 85440 Talmont Saint Hilaire,
      France
    </li>
    <li><b>Capital social</b> : 30 000 euros</li>
    <li><b>Numéro SIRET</b> : 939 636 502</li>
    <li><b>Numéro TVA Intracommunautaire</b> : FR84 939 636 502</li>
    <li><b>Code APE</b> : 8559B</li>
    <li><b>Directeur de la publication</b> : Robin Guédon</li>
    <li>
      <b>Contact</b> :
      <ul>
        <li>Téléphone : 0612162346</li>
        <li>Email : ppmoj30&#64;gmail</li>
      </ul>
    </li>
    <li>
      <b>Hébergeur du site</b>: O2Switch (<a href="https://www.o2switch.fr"
        >https://www.o2switch.fr</a
      >)
    </li>
  </ul>
  <h2>4. Description des services et produits</h2>
  <h3>4.1 Accès aux jeux gratuits</h3>
  Le site PPMOJ.FR propose des jeux mathématiques et informatiques en ligne,
  accessibles gratuitement via un navigateur sur ordinateur ou téléphone. Ces
  jeux permettent aux utilisateurs de gagner une monnaie virtuelle appelée
  "mojettes".
  <h3>4.2 Utilisation des mojettes</h3>
  Les mojettes sont obtenues en réussissant des énigmes ou en gagnant aux jeux
  présents sur le site. Elles peuvent être utilisées pour :
  <ul>
    <li>Obtenir de l'aide en jeu.</li>
    <li>
      Obtenir une réduction sur le prix d'achat des jetons de formation, avec
      une réduction maximale de 50 % du prix d'achat TTC (soit un prix réduit à
      5 € TTC par jeton).
    </li>
  </ul>
  <h3>4.3 Achat de formations</h3>
  BARNSDEAL propose des formations mathématiques à vendre sur PPMOJ.FR. Ces
  formations sont achetées par le biais de jetons de formation, au prix de 10 €
  TTC par jeton.
  <h3>4.4 Validité des jetons de formation</h3>
  Les jetons de formation sont valables pendant 1 an à partir de la date
  d'achat. Passé ce délai, ils expirent et ne peuvent plus être utilisés.
  <h3>4.5 Accès aux formations</h3>
  Après l'achat, l'accès aux formations est garanti pour une durée de 3 ans. Les
  utilisateurs auront accès aux versions des cours disponibles pendant cette
  période.
  <h3>4.6 Transfert et remboursement des jetons de formation</h3>
  Les jetons de formation peuvent être transférés à un autre utilisateur du
  site. Conformément à la législation française, les jetons de formation peuvent
  être remboursés dans un délai de 14 jours après l'achat, à condition qu'ils
  n'aient pas été utilisés.
  <h3>4.7 Échange de formations</h3>
  Les jetons de formation ne peuvent pas être échangés contre de l'argent.
  Toutefois, ils peuvent être utilisés pour réserver une autre formation si la
  formation initialement réservée n'a pas encore eu lieu.
  <h2>5. Tarifs</h2>
  Les prix des formations sont affichés en euros TTC (TVA 20 %) et peuvent être
  modifiés à tout moment. Toutefois, le prix appliqué sera celui affiché lors de
  la validation de la commande. Les formations restent la propriété
  intellectuelle de BARNSDEAL.
  <h2>6. Commande et paiement</h2>
  <h3>6.1 Processus de commande</h3>
  L'Acheteur doit :
  <ol>
    <li>Choisir ses formations sur le site PPMOJ.FR.</li>
    <li>Valider son panier et vérifier le récapitulatif.</li>
    <li>Fournir ses informations personnelles (email).</li>
    <li>Accepter les présentes CGV en cochant la case prévue à cet effet.</li>
    <li>Confirmer sa commande en procédant au paiement.</li>
  </ol>
  Une confirmation de commande est envoyée par email.
  <h3>6.2 Modalités de paiement</h3>
  Le règlement des formations s'effectue au comptant via carte bancaire. Le
  paiement est sécurisé et géré par la banque CIC en collaboration avec Stripe,
  un prestataire de services de paiement en ligne. Stripe agit en tant
  qu'intermédiaire pour traiter les transactions entre l'Acheteur et le CIC. Les
  coordonnées bancaires de l'Acheteur sont cryptées et ne transitent pas en
  clair sur le réseau, assurant ainsi la confidentialité et la sécurité des
  informations.
  <br />
  En cas de refus de paiement, la commande sera annulée.
  <h2>7. Modalités de livraison des services</h2>
  Après validation du paiement, les formations sont mises à disposition de
  l'Acheteur dans un délai maximum de 48 heures, sous réserve des délais de
  traitement bancaire. L'Acheteur recevra un email contenant les informations
  nécessaires pour accéder aux formations.
  <h3>8. Droit de rétractation</h3>
  Conformément aux dispositions des articles L221-18 et suivants du Code de la
  consommation, l'Acheteur dispose d'un délai de 14 jours à compter de la
  conclusion du contrat pour exercer son droit de rétractation sans avoir à
  justifier de motifs ni à payer de pénalités.
  <br />
  Pour exercer ce droit, l'Acheteur doit notifier sa décision de rétractation
  par une déclaration dénuée d'ambiguïté, soit par courrier postal à l'adresse
  suivante : SAS BARNSDEAL, 70 rue des armateurs, 85440 Talmont Saint Hilaire,
  France,
  <br />
  soit par email à : ppmoj30&#64;gmail.com.
  <br />
  Un modèle de formulaire de rétractation est disponible ci-dessous :
  <br />
  [Formulaire de rétractation]
  <br />
  Le remboursement sera effectué en utilisant le même moyen de paiement que
  celui utilisé par l'Acheteur lors de la transaction initiale, sauf accord
  exprès de l'Acheteur pour un moyen différent.
  <h2>9. Garanties légales</h2>
  Conformément aux articles L217-4 et suivants du Code de la consommation et aux
  articles 1641 et suivants du Code civil, BARNSDEAL est tenu des garanties
  légales suivantes :
  <ul>
    <li>
      <b>Garantie légale de conformité</b> : BARNSDEAL délivrera un bien
      conforme au contrat et répondra des défauts de conformité existant lors de
      la délivrance.
    </li>
    <li>
      <b>Garantie contre les vices cachés</b> : BARNSDEAL est responsable des
      défauts cachés du produit vendu qui le rendent impropre à l'usage auquel
      on le destine.
    </li>
  </ul>
  <h2>10. Médiation et règlement des litiges</h2>
  En cas de litige non résolu amiablement, l'Acheteur peut recourir au médiateur
  de la consommation suivant :
  <br />
  Médiateur : Centre de la Médiation de la Consommation de Conciliateurs de
  Justice (CM2C)
  <br />
  Adresse : 49 Rue de Ponthieu, 75008 Paris
  <br />
  Site web : <a href="https://www.cm2c.net">www.cm2c.net</a>
  <h2>11. Clauses relatives aux pénalités de retard</h2>
  Pour les clients professionnels, en cas de retard de paiement, des pénalités
  de retard seront appliquées conformément à l'article L441-10 du Code de
  commerce. Le taux des pénalités est fixé à trois fois le taux d'intérêt légal
  en vigueur. Une indemnité forfaitaire pour frais de recouvrement de 40 euros
  sera également due.
  <h2>12. Droit applicable et juridiction compétente</h2>
  Les présentes CGV sont soumises au droit français. En cas de litige, les
  tribunaux compétents seront ceux du ressort de la Cour d'appel de La
  Roche-sur-Yon.
  <h2>13. Protection des données personnelles</h2>
  BARNSDEAL collecte et traite les données personnelles des utilisateurs
  (email,mot de passes chiffrés et pseudo) dans le respect du Règlement Général
  sur la Protection des Données (RGPD).
  <br />
  Les finalités de cette collecte sont :
  <ul>
    <li>Gestion des commandes et accès aux formations.</li>
    <li>
      Communication avec les utilisateurs concernant les services proposés.
    </li>
  </ul>
  Les données sont conservées pendant la durée nécessaire à l'exécution du
  contrat et conformément aux obligations légales.
  <h2>14. Propriété intellectuelle</h2>
  Tous les contenus présents sur le site PPMOJ.FR, y compris mais sans s'y
  limiter, les vidéos, les lives, les cours, les textes, images, graphismes,
  logos, icônes, sons, logiciels, sont la propriété exclusive de BARNSDEAL ou de
  ses partenaires. Toute reproduction, représentation, modification,
  publication, transmission, dénaturation, totale ou partielle de ces éléments,
  par quelque procédé que ce soit, sans l'autorisation expresse de BARNSDEAL est
  interdite, et constituerait une contrefaçon sanctionnée par les articles
  L335-2 et suivants du Code de la propriété intellectuelle.
  <h2>15. Responsabilité</h2>
  BARNSDEAL s'engage à apporter tous les soins nécessaires à la mise en œuvre du
  service offert à l'Acheteur. Néanmoins, sa responsabilité ne saurait être
  engagée en cas de retard ou d'inexécution du contrat dû à un cas de force
  majeure tel que défini par la jurisprudence française. De même, la
  responsabilité de BARNSDEAL ne saurait être engagée pour des inconvénients ou
  dommages inhérents à l'utilisation du réseau Internet, notamment une rupture
  de service, une intrusion extérieure ou la présence de virus informatiques.
  <h2>16. Force majeure</h2>
  BARNSDEAL ne pourra être tenue responsable en cas d'inexécution du contrat due
  à un cas de force majeure tel que défini par la jurisprudence française.
  <h2>17. Suspension ou résiliation de compte utilisateur</h2>
  BARNSDEAL se réserve le droit de suspendre ou de résilier un compte
  utilisateur en cas de non- respect des présentes CGV ou des conditions
  d'utilisation du site.
  <h2>18. Acceptation des CGV</h2>
  Le fait pour l'Acheteur de commander sur le site PPMOJ.FR emporte adhésion et
  acceptation pleine et entière des présentes Conditions Générales de Vente, ce
  qui est expressément reconnu par l'Acheteur, qui renonce, notamment, à se
  prévaloir de tout document contradictoire, qui serait inopposable à BARNSDEAL.
  <h2>19. Archivage du contrat</h2>
  Conformément à l'article L213-1 du Code de la consommation, BARNSDEAL procède
  à l'archivage des contrats de vente conclus par voie électronique pour une
  somme égale ou supérieure à 120 euros pendant une durée de 10 ans. L'Acheteur
  peut accéder au contrat archivé en en faisant la demande par courrier
  électronique à l'adresse suivante : ppmoj30&#64;gmail
</div>
