<app-navbar></app-navbar>

<div class="work-in-progress-wrapper">
  <div class="work-in-progress-container d-flex flex-column align-items-center justify-content-center">
    <div class="work-in-progress-content card primary-card">
      <div class="content-wrapper">
        <div class="icon-container">
          <span class="material-symbols-outlined construction-icon">construction</span>
        </div>
        <h1 class="zilla-slab">Page en cours de construction</h1>
        <p class="subtitle">Cette page est actuellement en développement.</p>
        <p class="subtitle-secondary">Veuillez revenir plus tard pour découvrir les nouvelles fonctionnalités !</p>
        <a href="/" class="btn btn-primary mt-4">Retour à l'accueil</a>
      </div>
    </div>
  </div>
</div>
