@use "../../app/variables.scss";

.home-container {
    height: 100%;
    padding: 0!important;
    @media (max-height: 720px) {
      height: unset;
      flex: 1;
    }   
     @media (max-height: 567px) {
      overflow-y: scroll;
    }
}

.title-container {
  flex: 1;
  flex-basis: content;
  max-width: 80%;  
  
  @media (max-width: 768px) {
    margin: 0.5em 0 !important;
  }

  & > img {
    fill: white;
    max-height: 100%;
    height: 54px;
    flex-grow: 0;
  }
}
.home-title {
  color: variables.$secondary-color;    
  font-size: 2.5em;
  flex-grow: 2;
  margin: 0;
  font-weight: 600;
  letter-spacing: -1px;
  @media (min-width: 768px) {
    font-size: 3.5em;
    line-height: 54px;
    margin: 0 0.5em!important; 
  }  
  @media (max-height: 720px) {
    font-size: 2em;
  }
  flex-basis: 0;
  text-align: center;
  text-wrap: balance;
  width: fit-content;
}

.card-container {    
  flex: 3;
  flex-basis: content;
  margin: 2em auto;
  flex-wrap: nowrap;
  @media (max-width: 768px) {
    width: 100%;
    overflow-x: hidden;
    align-items: center;
  }  
  @media (max-height: 720px) {
    overflow-x: clip;
  }
}

.game-card {    
  transition: all 0.2s ease-out;
  max-width: 300px;
  max-height: 400px;
  width: 100%;
  & > h1 {
      // padding: 1em 0 0.5em;
      // margin-bottom: 1em;
      // border-bottom: 1px solid variables.$lightgrey;
      margin: 1em auto;
      text-align: center;
      width: 100%;
      height: 64px;
  }
  & > p {
    max-height: 300px;
    overflow-y: auto;        
    line-height: 160%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }
  & > button {
      width: 50%;  
      @media (max-width: 768px) {
        width: 80%;
      }  
      margin: auto;
      margin-bottom: 2em;
  }    
  & > span.danger-text {
    margin: auto auto 2em;
    border: 1px solid color-mix(in srgb, #ed2525 80%, white 20%);
    padding: 0.25em 1em;
    border-radius: 20px;
    font-size: 0.9em;
  }
  @media (min-width: 768px) {
    padding: 0.5em 1em;
    left: 0!important;  
    &.clickable:hover {
      background: variables.$primary-color-l2!important;
      top: -3px;
      box-shadow: variables.$card-shadow-el-2!important;
      cursor: pointer;
    }  
    & > p {
      max-height: 300px;
    }
  }
  @media (min-width: 992px) {
    padding: 0.5em 1.5em;
  }


  @media (max-width: 768px) {
    width: 70%;
    height: 450px;
    display: flex!important;
    align-items: center;
    position: relative;
    transform: scale(0.95);
    transition: all 0.3s ease-out;
    box-shadow: variables.$card-shadow;
    &.active {
      background: variables.$primary-color-l2;
      transform: scale(1);
      box-shadow: variables.$card-shadow-el-2;
    }
  }
  @media (max-height: 720px) {
    height: unset;
    min-height: 100%;
  }
}

.account-button {
  z-index: 3;
  & > div {
    width: 100%;
    & > span {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.modal-btn {
  width: 150px;
}

.dialog-content {
  & > span {
    margin: 0.5em 0;
    font-size: 1.1em;
  }
}

.modal-actions {
  margin-top: 1em;
}

.lostpassword {
  color: variables.$secondary-color;
  margin: 0.5em 4px 0;
  width: fit-content;
  align-self: end;
  &:hover {
    color: color-mix(in srgb, variables.$secondary-color 30%, variables.$danger-color 70%);
  }
}

form > mat-error {
  margin-top: -0.5em!important;
  margin-bottom: 0.5em!important;
}