.page-scroll {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

#leaderboard-matrix-container {
    max-width: 400px;
    width: 90%;
    margin: auto !important;

    &>h2 {
        margin: 1em 5%;
        font-size: 1.8em;
    }

    &>div {
        margin: 0 5% 1em;
    }

    // border: 1px solid variables.$success-color-d2;
    &>.btn-container {
        margin: 0 5%;
        padding: 1em 0;
        border-top: 1px solid var(--card-border);
    }

    overflow: hidden;
}

//leaderboard
.leaderboard-table {
    width: 400px;
    max-width: 100%;
    border-collapse: collapse;
    color: white;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
}

.leaderboard-table th {
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.leaderboard-table tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);
}

.highlight td {
    background: rgba(86, 4, 86, 0.3);
    color: #D8B4FE;
    font-weight: bold;
}
