@use "../../../app/variables.scss";

.game-card {
  transition: all 0.2s ease-out;
  max-width: 300px;
  height: 400px;
  width: 100%;
  padding: 0.5em 1em;
  @media (min-width: 992px) {
    padding: 0.5em 1.5em;
  }
  & > h1 {
      // padding: 1em 0 0.5em;
      // margin-bottom: 1em;
      // border-bottom: 1px solid variables.$lightgrey;
      margin: 1em auto;
      text-align: center;
      width: 100%;
      height: 64px;
  }
  & > p {
    height: 200px;
    overflow-y: auto;
    line-height: 160%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }
  & > button {
      width: 50%;
      @media (max-width: 768px) {
        width: 80%;
      }
      margin: auto;
      margin-bottom: 2em;
  }
  & > span.danger-text {
    margin: auto auto 2em;
    border: 1px solid color-mix(in srgb, #ed2525 80%, white 20%);
    padding: 0.25em 1em;
    border-radius: 20px;
    font-size: 0.9em;
  }
  @media (min-width: 768px) {
    .carrousel-card:has(&){
      left: 0 !important;
    }
    &.clickable:hover {
      background: variables.$primary-color-l2 !important;
      top: -3px;
      box-shadow: variables.$card-shadow-el-2 !important;
      cursor: pointer;
      overflow: hidden;
      border-radius: 12px
    }
    & > p {
      max-height: 300px;
    }
  }
}
