@use "../../../app/variables.scss";

.home-container {
  height: 100%;
  width: 100%;
  padding: 0!important;
  @media (max-height: 720px) {
    height: unset;
    flex: 1;
    overflow-y: scroll;
  }
}

.title-container {
  flex: 1;
  flex-basis: 0;
  max-width: 80%;
  @media (max-width: 768px) {
    margin: 0.5em 0 !important;
  }
}

.home-title {
  color: var(--text-color);
  font-size: 2.5em;
  flex-grow: 2;
  margin: 0;
  font-weight: 600;
  letter-spacing: -1px;
  @media (min-width: 768px) {
    font-size: 3.5em;
    line-height: 54px;
    margin: 0 0.5em !important;
    }
  @media (max-height: 720px) {
    font-size: 2em;
  }
  flex-basis: 0;
  text-align: center;
  text-wrap: balance;
  width: fit-content;
}

.card-container {
  flex: 3;
  flex-basis: 0;
  height: 0%;
  grid-template-columns: repeat(auto-fill, 400px);
  margin: 0em auto;
  padding-top: 2em;
  width: 90%;
  display: flex;
  overflow-y: auto;
  justify-content: center;
}

.cards-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  max-width: 1400px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.not-available {
  padding: 2em;
  max-width: 85vw;
  text-transform: uppercase;
}

.loading-container {
  padding: 2em;
  margin: 3em 0;
}

